@font-face {
    font-family: 'BPG Glaho';
    src: url('BPGGlaho.eot');
    src: url('BPGGlaho.eot?#iefix') format('embedded-opentype'),
        url('BPGGlaho.woff2') format('woff2'),
        url('BPGGlaho.woff') format('woff'),
        url('BPGGlaho.ttf') format('truetype'),
        url('BPGGlaho.svg#BPGGlaho') format('svg');
    font-weight: normal;
    font-style: normal;
}

